header
{background-color: darkorange;
  font-family: "copperplate", fantasy;
  font-size: 2.5em;
}
aside {
  width: 30%;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 4px;
  margin-right: 4px;
  float: left;
}
footer
{background-color: #5ce1f4;
  font-family: "copperplate", fantasy;
  font-size: 1em;
}
